.fileInput {
  padding: 2rem;
  background-color: var(--a-surface-subtle);
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.dropzone {
  padding: 30px;
  border: 2px dashed var(--a-surface-action);
  background-color: var(--a-surface-action-subtle);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fileInputButton:focus {
  outline: none;
  color: var(--a-text-on-action);
  text-decoration: none;
  background-color: var(--a-border-focus);
  box-shadow: 0 0 0 2px var(--a-border-focus);
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}
