.kelvin-app-header-link,
.kelvin-app-header-search-result p,
.kelvin-app-header-search-result label,
.kelvin-app-header-search-result .navds-heading {
  color: var(--a-white);
}

.kelvin-app-header-search-result {
  border-top: 1px solid var(--a-gray-50);
}

.kelvin-oppgavesok-form {
  padding-top: var(--a-spacing-2);
  background-color: var(--a-surface-inverted);
}
